
{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>


        <a href="{% url 'main_page' %}">Main Page</a>
        <a href="{% url 'edit_recipe' id=recipe_object.id %}">Edit Recipe</a>



        </nav>
</header>

<main>
    <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
    <div>Stars: {{ recipe_object.rating }}</div>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
                <tbody class = "tr:nth-child(even)">

                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ingredient.amount}}</td>
                        <td>{{ingredient.food_item}}</td>
                    </tr>
                    {% endfor %}

                </tbody class = "tr:nth-child(even)">
        </table>
    </div>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe_object.steps.all %}

        <li>{{step.instruction}}</li>

        {% endfor %}

    </ol>
</main>
{% endblock content %}
