
{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
            <a href="{% url 'main_page' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create a Recipe</a>

            {% if user.is_authenticated %}

                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'user_logout' %}">Logout</a>
                Hello, {{user.username }}

            {% else %}

                <a href= "{% url 'signup' %}">Sign up</a>
                <a href= "{% url 'user_login' %}">Login</a>

            {% endif %}

    </nav>
</header>
<main>
    <h1 id="green-text">Scrumptious Recipes</h1 id="green-text">
    <h2>All the food that's fit to eat</h2>
    <div class = "add-columns green-text">
        {% for recipe in recipe_list %}
    <div>
        <h3 class = "green-text">
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            <p>{{ recipe.created_on|date:"F t, Y"}}</p>
        </h3 class = "green-text">
        <img src="{{ recipe.picture }}">

        <div>Stars: {{ recipe.rating }}</div>

    </div>
        {% endfor %}
    </div>
</div class ="add-columns green-text">
</main>
{% endblock content %}
