
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');




body {
        margin: 0px;
        padding: 0px;
        font-family: 'Roboto Slab', serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
}

main {
        padding: 16px;
}

footer {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 24px;
        padding-right: 24px;
        background-color: lightgreen;
        margin-top: auto;
}

img {
        height: 200px;
}



a:hover {
        color: blue;
        box-shadow: 10px 5px 5px black;
        transition: box-shadow .5s;
}

.add-columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        text-align: center;


}


#white-text {
        color: white;
        text-decoration: none;

}

#green-text {
        color: darkgreen;
        text-decoration: none;
        box-shadow: 10px 5px 5px black;
}

a {
        color: darkgreen;
        text-decoration: none;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

nav {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(10, 1fr);
        color: white;
        background-color: orange;
        border-bottom: 1px solid black;
        padding: 16px;
        justify-content: space-between;
        text-align: center;

}
