
{% load static %}

<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="{% static "css/recipes.css" %}">
            <title>
                {% block title %} {% endblock title %}
            </title>
    </head>
    <body>
        {% block content %} {% endblock content %}
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
